#container {
  width: 800px;
  margin: 40px auto 60px;
  background-color: #67fc6e;
}

#my-name {
  font-size: 26px;
  color: white;
}

body {
  font-family: 'Trebuchet MS', Sans-serif;
  background: url(tree-bark.png);
}

.jumbotron {
  background-color: green;
  color: blue;
}
