#container {
  width: 800px;
  margin: 40px auto 60px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(84, 84, 84, 0.69);
}

#my-name {
  font-size: 26px;
  color: white;
  padding: 10px;
}

.my-contact {
  padding: 2px;
}

body {
  font-family: 'Trebuchet MS', Sans-serif;
  background: url(tree_bark.png);
}

.jumbotron {
  background-color: green;
  color: blue;
}
