#container {
  width: 800px;
  margin: 40px auto 20px;
  padding: 10px;
  background-color: rgba(187, 187, 187, 0.6);
  border: 2px solid rgba(19, 60, 41, .9);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(84, 84, 84, 0.40);
}

#jobs-container {
  width: 800px;
  margin: 20px auto 60px;
  padding: 10px;
  background-color: rgba(187, 187, 187, 0.6);
  border: 2px solid rgba(19, 60, 41, .9);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(84, 84, 84, 0.40);
  color: rgba(34,34,34,0.85);

}

#latest-job {
  padding: 2px;
  margin: 5px 0 5px 0;
  padding: 5px;
  border-radius: 10px;
  color: rgba(48, 78, 94, 1);
}

#latest-job:hover {
  transform: scale(1.01);
  background-color: rgba(246,246,246,0.5);
  box-shadow: 2px 2px 2px rgba(84, 84, 84, 0.20);
}

#unit-operator {
  padding: 2px;
  margin: 10px 0 5px 0;
  padding: 5px;
  border-radius: 10px;
  color: rgba(48, 78, 94, 1);
}

#unit-operator:hover {
  transform: scale(1.01);
  background-color: rgba(246,246,246,0.5);
  box-shadow: 2px 2px 2px rgba(84, 84, 84, 0.20);
}

#station-operator{
  padding: 2px;
  margin: 10px 0 5px 0;
  padding: 5px;
  border-radius: 10px;
  color: rgba(48, 78, 94, 1);
}

#station-operator:hover {
  transform: scale(1.01);
  background-color: rgba(246,246,246,0.5);
  box-shadow: 2px 2px 2px rgba(84, 84, 84, 0.20);
}

#work-experience {
  margin: 0 0 10px 0;
  background-color: rgba(34,34,34,0.2);
  margin: -10px -10px 0 -10px;
  border-radius: 5px;
  padding: 2px;
  font-size: 24px;
  color: rgba(27, 44, 53, .8);
  box-shadow: 2px 2px 2px rgba(84, 84, 84, 0.40);
}

.company {
  margin: 0 0 5px 0;
  color: rgba(27, 44, 53, .8);
}

#my-name {
  font-size: 26px;
  color: white;
  padding: 10px;
  border-bottom: : 2px solid black;
}

.my-contact {
  padding: 2px;
  margin: 2px;
  font-size: 12px;
}

body {
  font-family: 'Trebuchet MS', Sans-serif;
  background: url(what-the-hex.png);
}

.jumbotron {
  background-color: green;
  color: blue;
}

.date {
  float: right;
  margin: 2px;
  font-size: 13.28px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.job-title {
  font-size: 14;
  margin: 0 0 5px 0;
}

.duties {
  font-size: 12px;
  margin: 0 0 5px 0;
}

h1 {
  margin: 0 0 5px 0;
}

h3 {
  margin: 0 0 5px 0;
  text-align: center;
}

h5 {
  margin: 0px;
}
